<div class="header-container">
    <h1 class="page-header">Postcode Prototype</h1>
</div>

<div class="ward-finder-box">
    <form class="detect-button-form">
        <button class="red-button" type="button">Auto detect my ward</button>
    </form>
    <h2 class="secondary-header">Or enter postcode</h2>
    <form class="postcode-form">
        <input class="postcode-input" type="text" />
        <input class="red-button" type="submit" value="Search"/>
    </form>
    <div class="address-information hidden">
        <h3 class="address-header">Address</h3>
        <ul>
            <li class="address-first-line"></li>
            <li>London</li>
            <li class="address-postcode-line"></li>
        </ul>
    </div>
</div>

<ul class="ward-content">
    <li class="ward-information hidden">
        <h2 class="secondary-header"><span class="ward-name"></span> Ward</h2>
    </li>


    <li class="lancaster-gate-panel ward-panel hidden">
        <p class="main-pitch">Main pitch for Lancaster gate ward. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <h3 class="candidates-title">Candidates</h3>
        <ul class="candidate-list">
            <li class="candidate-item">
                <img class="profile-image" src="/assets/profile.gif">
                <h4 class="candidate-title">Lan Gate First Candidate</h4>
                <p class="candidate-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </li>
            <li class="candidate-item">
                <img class="profile-image" src="/assets/profile.gif">
                <h4 class="candidate-title">Lan Gate Second Candidate</h4>
                <p class="candidate-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua labore et dolore magna aliqua. Lorem ipsum.</p>
            </li>
            <li class="candidate-item">
                <img class="profile-image" src="/assets/profile.gif">
                <h4 class="candidate-title">Lan Gate Third Candidate</h4>
                <p class="candidate-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.</p>
            </li>
        </ul>
    </li>

    <li class="bayswater-panel ward-panel hidden">
        <h2>Bayswater ward</h2>
        <p>Main pitch for Bayswater ward. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <h3>Candidates</h3>
        <ul class="candidate-list">
            <li class="candidate-item">
                <h4>Bays First Candidate</h4>
                <img src="/assets/profile.gif">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </li>
            <li class="candidate-item">
                <h4>Bays Second Candidate</h4>
                <img src="/assets/profile.gif">

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </li>
        </ul>
    </li>
</ul>
