<!DOCTYPE html>
<html>
<head>
<title>Postcode Prototype</title>
<link href="assets/index.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<%= yield %>
<script src="assets/index.js"></script>
</body>
</html>
